.header {
  width: 100%;
  background-color: #20232a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61daee;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: auto;
  z-index: 2;
}

@media screen and (max-width: 479px) {
  .header {
    font-size: 1.2rem;
    height: 5vh;
    letter-spacing: 0.12rem;
  }
}

@media screen and (min-width: 480px) {
  .header {
    font-size: 1.4rem;
    height: 45px;
    letter-spacing: 0.12rem;
  }
}
